*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Times new roman;
    font-size: 18px;
}
h1,h2{
    color: #0a152f;
}
h1{
    font-size: 40px;
    margin: 20px;
}
h2{
    font-size: 25px;
    margin: 10px;
}
.intro{
    text-align: justify;
    margin-bottom: 20px;
    color: #090d46;
}
.author{
    font-size: 22px;
    color: #154455;
    float: right;
    margin-top: 30px;
    margin-left: 10px;
}
.container{
    width: 1140px;
    margin: 20px auto 0 auto;
}
.blog-post{
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}
.other-post{
    width: 25%;
    float: left;
}
.author-box{
    padding-top: 20px;
    border-top: 1px solid #808080;
    float: left;
}

.other{
    margin-bottom: 40px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.blog-post img{
    height: 150px;
    width: auto;
}

.date{
    position: absolute;
    top: 10px;
    right: 30px;
}
