*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Times new roman;
    font-size: 25px;
    background: #b6d2ff;
}

h1{
    color: #4572da;
    text-align: center;
}

h2{
    color: #4572da;
    margin: 3%;
}
p {
    margin: 3%;
}